body{
  background: white !important;
}

.align-cells-content-center td{
  align-content: center;
}

.margin-center{
  margin: 0 auto;
  width: 80%;
}

.margin-center-90{
  margin: 0 auto;
  width: 90%;
}

#main_content_wrap{
  border: none !important;
}

.sidebar-group-option:checked + label svg {
  rotate: 90deg !important;
}

#sidebar a.active{
  font-weight: bold;
  text-decoration: dotted;
  color: #d97706 !important;
}

.shadow-right{
  box-shadow: -27px -35px 45px var(--tw-shadow-color) !important;
}

.loadable.loadable-loading * :not(.loadable-loader, .loadable-loader *, .loadable-skip_loading, .loadable-skip_loading *){
  display: none !important;
}

.loadable.loadable-loading .loadable-content{
  display: none !important;
}

.loadable.loadable-loading .loadable-loader{
  display: flex;
}

.loadable .loadable-loader{
  display: none;
}

.divide-y > div{
  border-bottom: 1px solid #4e4e4e !important;
}

#editorjs{
  background: none !important;
  color: white !important;
}

#editorjs .ce-popover__container{
  background: #2c2d2e !important;
}

#editorjs .ce-inline-toolbar .ce-popover-item:hover:not(.ce-popover-item--no-hover), #editorjs .ce-inline-tool:hover,
#editorjs .ce-toolbar__plus:hover, #editorjs .ce-toolbar__settings-btn:hover{
  background: black !important;
}

#editorjs .codex-editor path{
  stroke: white !important;
}

#editorjs .ce-paragraph{
  padding-left: 10px !important;
  padding-right: 10px !important;
  background: #2c2d2e !important;
  color: white !important;
}

#editorjs::selection, #editorjs .cdx-search-field.ce-popover__search {
  color: black; /* Sets the text color of selected text to black */
}